{% extends "layout-hmcts-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>

      <li class="breadcrumb-item current">Security

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-a/guidance1">Guidance &amp; forms</a></li>
              <li class="parent-section"><a href="/hmcts-a/security/">Security</a></li>

              <li class="child">
                <a href="/hmcts-a/security/security">Security and Safety operating procedures</a>
              </li>



            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

    <div class="">
      <h1 class="page-title">Security, Fire and Health and Safety Policy</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">HMCTS Intranet Team</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>



      <h1>Security, Fire and Health and Safety Policy</h1>

     <a name="#01" id="#0l"></a>
     <h1>Security, Fire and Health and Safety Policy</h1>

      <ul>
      	<li><a href="foreword.htm">Foreword and Executive Summary</a></li>
      </ul>
       <a name="#02" id="#02"></a>
      <h2>HMCTS Security, Fire and Health &amp; Safety Policy: Statement of Intent</h2>

      <ul>
      	<li><a href="statement-of-intent.htm">Statement of Intent</a></li>
      </ul>

       <a name="#03" id="#03"></a>
      <h2>Security and Safety Management</h2>

      <ul>
      	<li><a href="policy.htm">HMCTS Policy</a></li>
        <li><a href="organising.htm">Organising</a></li>
        <li><a href="planning-implementing.htm">Planning and Implementing</a></li>
        <li><a href="measuring-reviewing-auditing.htm">Measuring Security and Safety performance for HMCTS</a></li>
        <li><a href="measuring-reviewing-auditing.htm#rs">Reviewing Security and Safety performance for HMCTS</a></li>
        <li><a href="measuring-reviewing-auditing.htm#as">Auditing Security and Safety performance for HMCTS</a></li>
      </ul>

     <a name="#04" id="#04"></a>
    <h2>The Law, or legal Duties and Government Compliance</h2>

      <ul>
      	<li><a href="requirements.htm">The Law, or Legal Duties and Government Compliance</a></li>
      	<li><a href="requirements.htm#kmr">Key Mandatory Requirements</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/finance/security-fire-health-safety/general_requirements.pdf">General Requirements</a></li>
      </ul>

       <a name="#05" id="#05"></a>
      <h2>HMCTS Security and Safety Roles and Responsibilities</h2>

      <ul>
      	<li><a href="roles-responsibilities-corporate.htm">Corporate/ HQ Structure and responsibilities</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/finance/security-fire-health-safety/corporate-roles-responsibilities-chart1.pdf">Corporate/ HQ Structure and responsibilities (Chart 1)</a></li>
      	<li><a href="roles-responsibilities-regional.htm">Regional Structure and Responsibilities, including operational</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/finance/security-fire-health-safety/regional-roles-responsibilities-chart2.pdf">Regional Structure roles and responsibilities (Chart 2)</a></li>
      </ul>

       <a name="#06" id="#06"></a>
      <h2>Security and Safety Committees</h2>

      <ul>
      	<li class="pdf"><a title="PDF, opens in a new window" href="../../documents/finance/security-fire-health-safety/security-and-safety-committees-structure.pdf">Security and Safety Committee Structure</a></li>
        <li><a href="committees-national.htm">Term of Reference for HMCTS National Security and Safety Committee</a></li>
      	<li><a href="committees-national.htm#ao">Objectives and Functions</a></li>
      	<li><a href="committees-national.htm#cm">Membership</a></li>
      	<li><a href="committees-national.htm#mtg">Meetings</a></li>
        <li><a href="committees-regional.htm">Terms of reference for regional and, if required, local security and safety committees</a></li>
      </ul>

       <a name="#07" id="#07"></a>
      <h2>Security and Safety risks arising from our work activities</h2>

      <ul>
      	<li><a href="overview.htm">Overview</a></li>
      	<li><a href="risks-arising-from-work-activities.htm">Generic task based risk assessments and minimum security and fire safety standards</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#act">Actions to be taken at each location</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#inc">Action to be taken following an Incident</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#prem">Other users of HMCTS premises</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#rec">Recording Risk – Security and Safety Risk Register</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#topx">Top "X" reporting for security, fire and safety</a></li>
      	<li><a href="risks-arising-from-work-activities.htm#rad">Risk Assessment Documentation</a></li>
      </ul>

       <a name="#08" id="#08"></a>
      <h2>Information and Training</h2>

      <ul>
      	<li><a href="information-and-training.htm">Information</a></li>
      	<li><a href="information-and-training.htm#trng">Training</a></li>
      </ul>

      <a name="#13" id="#13"></a>
      <h2>Security and Safety Awareness Campaign</h2>

      <ul>
      	<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/governance-assurance/safety-security-everyones-responsibility-security-basics.doc">Security - Principles of good practice</a></li>
      	<li class="pdf"><a title="PDF, opens in a new window" href="../../documents/governance-assurance/wear the in.pdf">Poster - Wear them in...don't wear them out</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/governance-assurance/free-pass.pdf">Poster - Don't give criminals a free pass</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/governance-assurance/unescorted-visitors.pdf">Poster - Look out for unescorted visitors</a></li>
        <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/governance-assurance/everyday-in-the-life.pdf">Poster - Everyday in the life</a></li>
      </ul>

       <a name="#09" id="#09"></a>
       <h2>General Risk Assessments</h2>
      <ul>
      	<li><a href="general-risk.htm">General Risk Assessments</a></li>
      </ul>

           <a name="#10" id="#10"></a>
         <h2>Security and Safety operating procedures</h2>
       <ul>
      	<li><a href="operating-procedures.htm">Security and Safety operating procedures</a></li>
      </ul>

       <a name="#11" id="#11"></a>
         <h2>Forms</h2>
         <p>All forms are now attached and cross reference with the relevant Security and Safety Operating Procedure (SSOP), rather than being detailed in a stand alone form section. For example, the 'Record for Telephone Bomb Threats' can be found at the bottom of SSOP 12c - 'Fire and Incident Control - Bomb Threats and Suspect Packages/Letters.</p>

<p>The forms detailed below are mandatory requirement documents and do not form the main body of the policy.</p>
       <ul>
      	<li class="xls"><a title="Excel, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/delivery-plan-quarterly-return-risk-register.xls">HMCTS Security and Safety Delivery Plan, Quarterly Report and Risk Register</a></li>
        <li class="xls"><a title="Excel, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/incident-report.xls">HMCTS Security and Safety Incident and Accident report (including near misses)</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/inspection-report.doc">HMCTS Quarterly Site Security and Safety Inspection Report</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/management-general-risk-assessments-compliance-log.doc">Management of General Risk Assessments - Compliance Log</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/blank-general-risk-assessment-form.doc">HMCTS Security and Safety General Risk Assessment Form - blank</a></li>
        <li class="xls"><a title="Excel, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/security-and-safety-reporting-meeting-timetable.xls">Security and Safety Reporting and Meeting Timetable</a></li>
      </ul>

        <h4>HMCTS Security Risk Assessment, Guidance and Information</h4>
        <ul>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/security-risk-assessment-form.doc">HMCTS Security Risk Assessment Form</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/security-risk-assessment-review-form.doc">HMCTS Security Risk Assessment Review Form</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/security-minimum-standards.doc">HMCTS Security Minimum Standards</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/security-risk-assessment-guidance-information.doc">HMCTS Security Guidance and Information</a></li>
      </ul>

      <h4>HMCTS Fire Risk Assessment, Information and Guidance</h4>
        <ul>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/fire-risk-assessment-form.doc">HMCTS Fire Risk Assessment Form</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/fire-risk-assessment-review-form.doc">HMCTS Fire Risk Assessment Review Form</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/fire-safety-minimum-standards.doc">HMCTS Fire Safety Minimum Standards</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/forms/fire-risk-assessment-guidance-information.doc">HMCTS Fire Safety Guidance and Information</a></li>
        </ul>

        <!--<ul>
        <li><a href="../../../documents/finance/security-fire-health-safety/forms/incident-accident-including-near-misses-report.xls">HMCTS Security and Safety Incident and Accident report (including near misses)</a></li>
        <li><a href="../../../documents/finance/security-fire-health-safety/forms/inspection-report.doc">HMCTS Quarterly Site Security and Safety Inspection Report</a></li>
        <li><a href="../../../documents/finance/security-fire-health-safety/forms/inspection-report.doc">Management of General Risk Assessments - Compliance Log</a></li>
        <li><a href="../../../documents/finance/security-fire-health-safety/forms/blank-general-risk-assessment-form.doc">HMCTS Security and Safety General Risk Assessment Form - blank</a></li>
        </ul>-->

         <a name="#12" id="#12"></a>
         <h2>Contacts</h2>
         <ul>
      	<li><a href="contacts.htm">HMCTS Security and Safety team</a></li>
        <li><a href="contacts.htm#reg">Regional Security, Fire or Health and Safety Officers</a></li>
      </ul>

      <div class="top">
        <p><a href="#top" rel="" class="anchorLink">top</a></p>
      </div>





    </div>


  </div>




</main>

{% endblock %}
