{% extends "layout-hmcts-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/security" class="breadcrumb-link">Security</a>
        <span class="separator"></span>
      </li>
      <li class="current">Security and Safety operating procedures
      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-a/guidance1">Guidance &amp; forms</a></li>
              <li class="parent-section"><a href="/hmcts-a/security/">Security</a></li>

              <li class="current-page child">
                <a href="#">Security and Safety operating procedures</a>
              </li>



            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

    <div class="">
      <h1 class="page-title">Security and Safety operating procedures</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">HMCTS Intranet Team</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>



      <h1>Security, Fire and Health and Safety Policy</h1>
     <h2>Security and Safety operating procedures</h2>

       <ul class="bottom-border">
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/01-change-projects-in-hmcts.doc">01 -  Change Projects in HMCTS</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/02-counter-terrorist-contingency-plans.doc">02 - Counter Terrorist Contingency Plans
</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/03a-court-enforcement-activities-personal-safety.doc">03a - Court Enforcement Activities - Bailiffs and CEO Personal Safety</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/03b-court-enforcement-activities-personal-protective-equipment.doc">03b - Court Enforcement Activities - Bailffs and CEOs - Personal Protective Equipment</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04a-court-security-officers.doc">04a - Court Security Officers - Duties and Deployment</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04b-court-security-officers-powers-of-search.doc">04b - Court Security Officers - Powers of Search</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04bi-court-security-officers-powers-of-search-liquids.doc">04b(i) - Court Security Officers - Powers of Search - Procedure for Liquids</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04c-court-security-officers-powers-to-exclude.doc">04c - Court Security Officers - Powers to Exclude, Remove and Restrain</a></li>
         	<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04d-court-security-officers-surrender-seizure.doc">04d - Court Security Officers - Surrender and Seizure of Prohibited Items and Powers to Retain</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/04e-court-security-officers-surrender-seizure-prohibited-items.doc">04e - Court Security Officers - Surrender and Seizure of Prohibited Items and Powers to Retain - Knives</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/05-dealing-with-confrontational-situations.doc">05 - Dealing with Confrontational Situations/violence, including protests and disruption - HMCTS Staff</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/06-dealing-with-confrontational-situations-violence.doc">06 -  Dealing with Confrontational Situations/violence - Judicial Office Holders</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/07-deployment-of-armed-police.doc">07 - Deployment of Armed Police within HMCTS sites</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/08-display-screen-equipment.doc">08 - Display Screen Equipment</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/09-dock-officers-and-pecs.doc">09 - Dock Officers and PECS</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/10-electronic-communication-equipment.doc">10 - Electronic Communication Equipment</a></li>
	 	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/11a-enforcement-activities-of-regulatory-bodies.doc">11a - Enforcement Activities of Regulatory Bodies (Health and Safety Executive and Crown Premises Inspectorate Group)</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/11b-enforcement-activities-of-regulatory-bodies-hse.doc">11b - Enforcement Activities of Regulatory Bodies - Health and Safety Executive Fee for Intervention Scheme</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12a-fire-and-incident-control-officers.doc">12a - Fire and Incident Control - Fire and Incident Control Officers</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12b-fire-and-incident-control-plans.doc">12b - Fire and Incident Control - Fire and Incident Control Plans</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12c-fire-and-incident-control-bomb-threats.doc">12c - Fire and Incident Control - Bomb Threats and Suspect Packages/letters</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12d-fire-and-incident-control-staff-action.doc">12d - Fire and Incident Control - Staff Action on Discovery of a Fire (or Suspected Fire)</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12e-fire-and-incident-control-search-evacuation.doc">12e - Fire and Incident Control - Search and Evacuation Procedure</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12f-fire-and-incident-control-personal-emergency.doc">12f - Fire and Incident Control - Personal Emergency Escape Plans</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/12g-fire-and-incident-control-arranging-fire-drill.doc">12g - Fire and Incident Control - Arranging a Fire Drill/ Evacuation</a></li>
		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/13a-first-aid-provisions-within-hmcts-premises.doc">13a - First Aid - Provisions within HMCTS Premises</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/13b-first-aid-roles-responsibilities.doc">13b - First Aid - Roles and Responsibilities within HMCTS Premises</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/13c-first-aid-equipment-provision.doc">13c - First Aid - Equipment provision within HMCTS Premises</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/13d-first-aid-exposure-infectious.doc">13d - First Aid - Exposure to infectious/contagious diseases</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/13e-first-aid-automated-external-defibrillators.doc">13e - First Aid - Automated External Defibrillators</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/14-ideas-promoting-security.doc">14 - Ideas for Promoting Security, Health and Safety and Fire Safety</a></li>
	    	<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/15a-incident-reporting.doc">15a -  Incident Reporting - Who needs to know</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/15b-incident-reporting-riddor.doc">15b - Incident Reporting - RIDDOR</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/16-management-high-risk-defendants.doc">16 - Management of High Risk Defendants</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/17-management-jurors.doc">17 - Management of Jurors</a></li>
     	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/18a-management-witnesses.doc">18a - Management of Winesses (including Vulnerable and Intimidated Witnesses and Children)</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/18b-facilities-for-children.doc">18b - Facilities for Children in HMCTS Premises</a></li>
		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/19a-manual-handling-overview.doc">19a - Manual Handling - Manual Handling Overview</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/19b-manual-handling-techniques.doc">19b - Manual Handling - Manual Handling Techniques</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/20-personal-injury-claims.doc">20 - Personal Injury Claims</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/21-public-and-social-events.doc">21 -  Public and Social Events</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/22-security-and-safety-induction.doc">22 -Security and Safety Induction Training, further training and records</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/23-subject-access-requests.doc">23 - Subject Access Requests (CCTV Footage)</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24a-total-facilities-management-overview.doc">24a - Total Facilities Management - Overview of HMCTS Facilities Management</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24b-total-facilities-management-reporting.doc">24b - Total Facilities Management - Reporting of Facilities Issues</a></li>
   		 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24c-total-facilities-management-construction.doc">24c - Total Facilities Management - Construction works in HMCTS (refurbishment and renovation)</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24d-total-facilities-management-hazardous-substances.doc">24d - Total Facilities Management - Hazardous substances</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24e-total-facilities-management-adverse-weather.doc">24e - Total Facilities Management - Adverse Weather </a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24f-total-facilities-management-dealing-with-spillages.doc">24f - Total Facilities Management - Dealing with Spillages</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24g-total-facilities-management-electricity.doc">24g - Total Facilities Management - Electricity at Work</a></li>
<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24h-total-facilities-management-maintenance.doc">24h - Total Facilities Management - Maintenance and Testing of Workplace Equipment</a></li>
            <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24i-total-facilities-management-management-of-asbestos.doc">24i - Total Facilities Management - management of Asbestos</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24j-total-facilities-management-syringes-and-sharps.doc">24j - Total Facilities Management - Syringes and Sharps</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24k-total-facilities-mgt-contractors-working-at-height.doc">24k - Total Facilities Management - Contractors working at height</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24l-total-facilities-management-radiation-protection-advisory-services.doc">24l - Total Facilities Management - Radiation Protection Advisory service</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/24m-total-facilities-management-the-use-of-lifts-in-hmcts-premises.doc">24m - Total Facilities Management - The Use of lifts in HMCTS Premises</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/25-working-in-hmcts-home-working.doc">25 - Working in HMCTS - Home Working
</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/26a-working-in-hmcts-travelling-on-official-business-driving.doc">26a - Working in HMCTS - Travelling on Official Business - Driving</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/26b-working-in-hmcts-travelling-on-official-business.doc">26b -  Working in HMCTS - Travelling on Official Business (excluding driving)</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27a-working-in-hmcts-premises-workplace.doc">27a - Working in HMCTS Premises - Workplace Requirements</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27b-working-in-hmcts-premises- inspections.doc">27b - Working in HMCTS Premises - Inspections of the Workplace</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27c-working-in-hmcts-premises-id-passes.doc">27c - Working in HMCTS Premises - ID Passes (HMCTS and JOH)
</a></li>
       	 <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27d-working-in-hmcts-premises-lone-working.doc">27d - Working in HMCTS Premises - Lone Working</a></li>
<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27e-working-in-hmcts-premises-new-expectant-mothers.doc">27e - Working in HMCTS Premises - New or Expectant Mothers</a></li>
            <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27f-working-in-hmcts-premises-other-employers.doc">27f - Working in HMCTS Premises - Other Employers working in HMCTS Premises</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27g-working-in-hmcts-premises-staff.doc">27g - Working in HMCTS Premises - Staff working at height</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27h-working-in-hmcts-premises-work-experience.doc">27h - Working in HMCTS Premises - Work Experience (including Marshalling)</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27i-working-in-hmcts-premises-young-persons-at-work.doc">27i - Working in HMCTS Premises - Young Persons at Work</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/27j-working-in-hmcts-thermal-comfort-in-hot-weather.doc">27j - Working in HMCTS - Thermal Comfort in Hot Weather</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28a-ra-overview-of-ra-within-hmcts-premises.doc">28a - Reasonable Adjustments - Overview of Reasonable Adjustments within HMCTS Premises</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28b-ra-ra-support-service.doc">28b - Reasonable Adjustments - Reasonable Adjustment Support Service</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28c-ra-roles-and-responsibilities.doc">28c - Reasonable Adjustments - Roles and Responsibilities</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28d-ra-overview-of-workplace-adjustments.doc">28d - Reasonable Adjustments - Overview of Workplace Adjustments</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28e-ra-overview-of-local-adjustments.doc">28e - Reasonable Adjustments - Overview of Local Adjustments</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28f-ra-workplace-assessments-dwp-access-to-work.doc">28f - Reasonable Adjustments - Workplace Assessments DWP Access to Work</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28g-ra-workplace-assessments-oh-assist.doc">28g - Reasonable Adjustments - Workplace Assessments OH Assist</a></li>
            <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/28h-ra-ra-for-judicial-office-holders.doc">28h - Reasonable Adjustments - Reasonable Adjustments for Judicial Office Holders</a></li>
          <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/29-access-control-at-public-entrances-of-court-tribunal-buildings.doc">29 - Access Control at the public entrances of Court/ Tribunal buildings</a></li>
     <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/finance/security-fire-health-safety/operating-procedures/30-panic-alarm-and-incident-drills-to-test-emergency-responses.doc">30 - Drills of Panic Alarm Activation at Court/ Tribunal build Incident buildings</a></li>
</ul>


      <div class="top">
        <p><a href="#top" rel="" class="anchorLink">top</a></p>
      </div>







    </div>


  </div>




</main>

{% endblock %}
