{% extends "layout-hmcts-b.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-b/hmcts-guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-b/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Performance Management Information Hub

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-b/hmcts-guidance1">Guidance &amp; forms</a></li>
              <li class="parent-section"><a href="/hmcts-b/hmcts-hr/">HR</a></li>


              <li class="child-folder agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management">Performance Management Information Hub</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management/changes">Changes to the Performance Management System</a>
              </li>
              <li class="current-page child-level-2 agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management/complete">How to complete your PMR</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management/standard">Standard Setting and Assessing Performance</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management/training">Training and tools</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-b/hmcts-hr/performance-management/bulletin">Performance Management Monthly Bulletins</a>
              </li>



            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <h1 class="page-title">How to complete your Perfomance Management Review</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">HMCTS HR</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>







      <!--<div class="imageBox"><img src="../../../images/hmcts-hr/two-people-looking-at-laptop.gif" alt="Image from the event" width="300" height="200" /> </div>-->


     <p>Performance Management Reports (PMR) should capture key delivery objectives (the ‘what’), and competency-based or behavioural objectives (the ‘how’), agreed between individuals and their line managers at the start of a new performance year.</p>

     <p>It is the individual’s responsibility to keep the report up to date and, following regular performance discussions, the report should be updated to reflect progress against agreed objectives and inform mid and end of year conversations.</p>

     <p>In partnership with the HR Business Partner Community, a staff working group has developed a suite of products to support individuals through this process; from objective setting to completing the PMR template itself.  Example PMRs for 'Development needed', 'Good' and 'Outstanding' evidence.</p>

     <p>Products can be found under the ‘Related documents’ with a link to the approved PMR template.</p>








<!--<p>For more information or to find out how you could get involved email: <a href="mailto:HMCTS_HR_Performan@hmcts.gsi.gov.uk">HMCTS_HR_Performan@hmcts.gsi.gov.uk</a> </p>-->



      	<div class="clear"></div>
      <div class="clear seperator"></div>



   <!--<p>For more information or to find out how you could get involved email: <a href="mailto:HMCTS_HR_Performan@hmcts.gsi.gov.uk">HMCTS_HR_Performan@hmcts.gsi.gov.uk</a> </p>-->


















    </div>


  </div>




</main>

{% endblock %}
