{% extends "layout-hmcts-b.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-b/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-b/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-b/security" class="breadcrumb-link">Security</a>
        <span class="separator"></span>
      </li>
      <li class="current">Security and Safety operating procedures
      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-b/guidance1">Guidance &amp; forms</a></li>
              <li class="parent-section"><a href="/hmcts-b/security/">Security</a></li>

              <li class="current-page child">
                <a href="#">Report an incident or breach</a>
              </li>



            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">

    <div class="">
      <h1 class="page-title">Report an incident or breach</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">MoJ HQ</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>



      <ul role="tablist" class="content-tabs  hidden">
                  <li class="current-menu-item" role="presentation" data-content="tab_1">
            <a id="tab-tab_1" role="tab" aria-selected="true" aria-controls="panel-tab_1" href="">Tab 1</a>
          </li>
              </ul>

      <div class="tab-content editable">
                      <h2></h2>
            <ul class="">
<li>Read the <a href="/documents/2015/04/security-incidents-reporting-investigation-and-management.doc">security incident reporting procedure<span class="sr-only"> doc</span></a>.</li>
<li>Fill out the <a href="/documents/2015/04/security-incident-report-form.xls">security incident report form<span class="sr-only"> xls</span></a> (separate <a href="/documents/2015/04//guidance-security-incident-report-form.doc">guidance<span class="sr-only"> doc</span></a> is available).</li>
<li>Email the form to <a href="mailto:operationalsecurityteam@justice.gsi.gov.uk">Operational Security</a> if the incident relates to IT.</li>
</ul>
<p>All staff must report security incidents. HM Courts &amp; Tribunals Service, NOMS and other office staff please use procedures on your local intranet.</p>
<p>We define a security incident as any action or event that deviates from MoJ security policies and controls, resulting in either actual loss of the confidentiality, availability or integrity of information or damage/harm to people or other assets; or the potential for this to happen. This would include, for example, a laptop being stolen (actual loss), or a key cabinet being left unsecured – even though there is no evidence of loss of assets (potential loss). The presence of new or unexpected threats should also be reported.</p>
<h3>Security incident report form</h3>
<p>You should complete a security incident report form for all security incidents – including IT, information, building, personnel. This will help us to stop the incident happening again and remove any potential security hazards or weaknesses.</p>
<p>You must report some incidents immediately. These include:</p>
<ul class="">
<li>losses of personal data – within the first hour report to your line manager and either via them or directly to the most senior local manager and a local member of the Senior Civil Service (SCS); follow the steps outlined in data loss quick guide, and using the incident reporting form, report to the data access and compliance unit</li>
<li>incidents affecting ministers or members of the judiciary all assaults or serious threats to staff, clients or other service users demonstrations or escapes from custody</li>
<li>any incident that is likely to cause media interest</li>
</ul>
<h2>Downloads</h2>
<ul class="">
<li><a href="/documents/2015/04/security-incident-report-form.xls">Security incident report form<span class="sr-only"> xls</span></a> </li>
<li><a href="/documents/2015/04/security-incidents-reporting-investigation-and-management.doc">Security incident reporting procedure<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/guidance-security-incident-report-form.doc">Security incident report guidance<span class="sr-only"> doc</span></a></li>
</ul>
<h2>Contacts</h2>
<ul class="">
<li><a href="mailto:security.branch@justice.gsi.gov.uk">Corporate security branch</a></li>
<li><a href="mailto:operationalsecurityteam@justice.gsi.gov.uk">Operational security</a></li>
</ul>

                  </div>
      <span class="date-updated">Last updated: <time>5 November 2015</time></span>

              <div id="panel-tab_1" data-template-type="tab-content" data-content-name="tab_1" class="template-partial editable" role="tabpanel" aria-labelled-by="tab-tab-tab_1">
                      <h2></h2>
            <ul class="">
<li>Read the <a href="/documents/2015/04/security-incidents-reporting-investigation-and-management.doc">security incident reporting procedure<span class="sr-only"> doc</span></a>.</li>
<li>Fill out the <a href="/documents/2015/04/security-incident-report-form.xls">security incident report form<span class="sr-only"> xls</span></a> (separate <a href="/documents/2015/04//guidance-security-incident-report-form.doc">guidance<span class="sr-only"> doc</span></a> is available).</li>
<li>Email the form to <a href="mailto:operationalsecurityteam@justice.gsi.gov.uk">Operational Security</a> if the incident relates to IT.</li>
</ul>
<p>All staff must report security incidents. HM Courts &amp; Tribunals Service, NOMS and other office staff please use procedures on your local intranet.</p>
<p>We define a security incident as any action or event that deviates from MoJ security policies and controls, resulting in either actual loss of the confidentiality, availability or integrity of information or damage/harm to people or other assets; or the potential for this to happen. This would include, for example, a laptop being stolen (actual loss), or a key cabinet being left unsecured – even though there is no evidence of loss of assets (potential loss). The presence of new or unexpected threats should also be reported.</p>
<h3>Security incident report form</h3>
<p>You should complete a security incident report form for all security incidents – including IT, information, building, personnel. This will help us to stop the incident happening again and remove any potential security hazards or weaknesses.</p>
<p>You must report some incidents immediately. These include:</p>
<ul class="">
<li>losses of personal data – within the first hour report to your line manager and either via them or directly to the most senior local manager and a local member of the Senior Civil Service (SCS); follow the steps outlined in data loss quick guide, and using the incident reporting form, report to the data access and compliance unit</li>
<li>incidents affecting ministers or members of the judiciary all assaults or serious threats to staff, clients or other service users demonstrations or escapes from custody</li>
<li>any incident that is likely to cause media interest</li>
</ul>
<h2>Downloads</h2>
<ul class="">
<li><a href="/documents/2015/04/security-incident-report-form.xls">Security incident report form<span class="sr-only"> xls</span></a> </li>
<li><a href="/documents/2015/04/security-incidents-reporting-investigation-and-management.doc">Security incident reporting procedure<span class="sr-only"> doc</span></a></li>
<li><a href="/documents/2015/04/guidance-security-incident-report-form.doc">Security incident report guidance<span class="sr-only"> doc</span></a></li>
</ul>
<h2>Contacts</h2>
<ul class="">
<li><a href="mailto:security.branch@justice.gsi.gov.uk">Corporate security branch</a></li>
<li><a href="mailto:operationalsecurityteam@justice.gsi.gov.uk">Operational security</a></li>
</ul>

                  </div>

      <div class="template-partial" data-name="menu-item">
        <li class="menu-item">
          <div class="menu-item-container">
            <a href="" class="menu-item-link"></a>
            <button href="#" class="dropdown-button">Expand</button>
          </div>
          <ul class="children-list">
          </ul>
        </li>
      </div>

      <div class="template-partial" data-name="child-item">
        <li class="child-item">
          <a href="" class="child-item-link"></a>
        </li>
      </div>








    </div>


  </div>




</main>

{% endblock %}
