{% extends "layout-hmcts-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/my-work" class="breadcrumb-link version-origin">My work</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Civil

      </li>

    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-a/my-work3" class="version-origin">My work</a></li>
              <li class="parent-section agency-page"><a href="/hmcts-a/work/civil">Civil</a></li>

              <li class="child agency-page">
                <a href="/hmcts-a/work/civil/forms">Forms</a>
              </li>
              <li class="child agency-page">
                <a href="#">SOPs - Civil</a>
              </li>
              <li class="child agency-page">
                <a href="#">Policies and procedures</a>
              </li>
              <li class="child agency-page">
                <a href="/hmcts-a/hr/flexible-working">Programmes and projects</a>
              </li>
              <li class="child agency-page">
                <a href="#">Use of email in civil and family courts</a>
              </li>




            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <h1 class="page-title">Civil</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">HMCTS</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>

      <p>Operational guidance for HMCTS staff working in the Civil jurisdiction.</p>


      <ul>


        <li class="child agency-page">
          <a href="/hmcts-a/work/civil/forms">Forms</a>
        </li>
        <li class="child agency-page">
          <a href="#">SOPs - Civil</a>
        </li>
        <li class="child agency-page">
          <a href="#">Policies and procedures</a>
        </li>
        <li class="child agency-page">
          <a href="/hmcts-a/hr/flexible-working">Programmes and projects</a>
        </li>
        <li class="child agency-page">
          <a href="#">Use of email in civil and family courts</a>
        </li>




      </ul>


    </div>


  </div>




</main>



{% endblock %}
