{% extends "layout-hmcts-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a  href="/hmcts-a/my-work" class="breadcrumb-link version-origin">My work</a>
        <span class="separator"></span>

      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/work/civil" class="breadcrumb-link">Civil</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Forms

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-a/my-work2" class="version-origin">My work</a></li>
              <li class="parent-section agency-page"><a href="/hmcts-a/work/civil">Civil</a></li>

              <li class="child agency-page">
                <a href="forms.html">Forms</a>
              </li>
              <li class="current-page child agency-page">
                <a href="sops.html">SOPs - Civil</a>
              </li>
              <li class="child agency-page">
                <a href="#">Policies and procedures</a>
              </li>
              <li class="child agency-page">
                <a href="/hmcts-a/hr/flexible-working">Programmes and projects</a>
              </li>
              <li class="child agency-page">
                <a href="#">Use of email in civil and family courts</a>
              </li>




            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">



    <h1 class="page-title">Civil SOPs and Job Cards</h1>
      <p>We have formed a process improvement network for civil SOPs. The network will lead on the future development, testing and continuous improvement of civil SOPs.</p>
     <!--<p>You can find further information on the core set of civil SOPs and project plans in the <a href="../../documents/lean/civil_and_family_sop_development_plans.xls">SOP development plan</a>.</p>-->

      <p>If you have any queries regarding any of the SOPs on this page or are interested in helping us develop or test SOPs at your court please contact  <strong>Civil&amp;FamilyBusinessSupport@hmcts.gsi.gov.uk</strong></p>



<a name="#c5" id="#c5"></a>
<!-- Start item 5 -->
<h3>Creditor's Petition for Bankruptcy</h3>

  <ul>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/sop_creditors_petn.doc">Creditor's Bankruptcy Petition SOP</a></li>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/annex_F_sop_creditors_petition.doc">Annex F - Standard Operating Package Creditors Petition</a></li>
  </ul>

<!-- End item 5 -->

	<!-- Start item 6 -->
	<a name="#c6" id="#c6"></a>
	<h3>Attachment of Earnings (AE)</h3>

	<p><strong>The following seven SOPs apply only to Attachment of Earnings (AE) applications issued up to and including 5 April 2016 and any resulting AE process from those applications.</strong></p>

  <ul>
    <!--<li><a href="../../documents/lean/civil/attachment_of_earnings_task_times.doc">Attachment of Earnings Task Times</a></li>-->
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_bailiff_process_sop_template.doc">Attachment of Earnings SOP - Bailiff Process Template</a></li>
     <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_leader_package.doc">Attachment of Earnings SOP - Leader Package</a></li>
      <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_sop_defendants_process.doc">Attachment of Earnings SOP - Defendants Process</a></li>
       <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_sop_employer_process.doc">Attachment of Earnings SOP - Employer Process</a></li>
       <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_sop_issue.doc">Attachment of Earnings SOP - Issue</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_sop_receipt_of_n56_v0_2.doc">Attachment of Earnings SOP - Receipt of N56</a></li>
         <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/attachment_of_earnings_sop_reissue.doc">Attachment of Earnings SOP - Reissue</a></li>
  </ul>

  <p><strong>For AE applications issued on or after 6 April 2016 and any resulting AE process from those applications then please refer to the SOPs listed below.</strong></p>

  	<ul>
    	<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/aoe/aoe-sop-bailiff-process.doc">Attachment of Earnings SOP - Bailiff Process SOP</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/aoe/aoe-sop-defendants-process.doc">Attachment of Earnings SOP - Defendants Process</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/aoe/aoe-sop-employer-process.doc">Attachment of Earnings SOP - Employer Process</a></li>
        <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/aoe/aoe-sop-receipt-of-n56.doc">Attachment of Earnings SOP - Receipt of N56</a></li>
  </ul>

<!-- End item 6 -->

<!-- Start item 7 -->
<a name="#c7" id="#c7"></a>

<h3>Issue of Warrant of Possession of Land</h3>

  <ul>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/sop_issue_of_warrant_of_possession.doc">Issue of Warrant of Possession of Land SOP</a></li>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/sop_issue_of_warrant_leader_package.doc">Issue of Warrant of Possession of Land SOP - Leader Package</a></li>
     <li class="xls"><a title="Excel, opens in a new window" href="../../documents/lean/civil/annex_a_caseman_possession_warrant.xls">Annex A - Warrant for Possession of Land</a></li>
  </ul>

<!-- End item 7 -->

<p class="back-to-top clearfix"><a href="#top">back to top</a></p>



<!-- Start item 10 -->
<a name="#c10" id="#c10"></a>
<h3>Consent Orders</h3>

  <ul>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/consent_orders_sop.doc">Consent Orders SOP</a></li>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/consent_orders_leader_package.doc">Consent Orders SOP- Leader Package</a></li>
  </ul>

<!-- End item 10 -->

	 <!-- Start item 11 -->
<a name="#c11" id="#c11"></a>
<h3>General Applications</h3>

  <ul>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/general_applications_sop.doc">General Applications SOP</a></li>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/general_applications_sop_leader_package.doc">General Applications SOP - Leader Package</a></li>
      <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/general_applications_annex_a_checklist_return_letter.doc">Annex A - General Applications - Checklist return letter</a></li>
  </ul>

<!-- End item 11 -->

<a name="#c12" id="#c12"></a>
  <!-- Start item 12 -->
<h3>Certificate of Satisfaction/Cancellation/amend Judgment</h3>

  <ul>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/certificate_of_satisfaction_cancellation_and_amend_judgment_sop.doc">Certificate of satisfaction cancellation and amend judgment SOP</a></li>
    <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/certificate_of_satisfaction_cancellation_and_amend_judgment_sop_leader_package.doc">Certificate of satisfaction cancellation and amend judgment SOP - Leader Package</a></li>
      <li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil/certificate_of_satisfaction_cancellation_and_amend_judgment_annex_a.doc">Annex A - Certificate of satisfaction cancellation and amend judgment</a></li>
  </ul>

<!-- End item 12 -->

    <a name="#c14" id="#c14"></a>
	<h3>Civil Restraint Orders</h3>
    	<ul>
        	  <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/lean/civil/cro-sop.pdf">Civil Restraint &amp; Totally Without Merit Orders SOP</a></li><li class="pdf"><a title="PDF, opens in a new window" href="../../documents/lean/civil/civil-restraint-orders-sop-leader-package.pdf">Civil Restraint &amp; Totally Without Merit Orders SOP - Leader Package</a></li>
            <li class="pdf"><a title="PDF, opens in a new window" href="../../documents/lean/civil/civil-restraint-orders-guidance.pdf">Guidance on Without Merit and Civil Restraint Orders for Civil and Family Cases</a></li>

            <li class="xls"><a title="Excel, opens in a new window" href="../../documents/lean/civil/blank-local-database.xls">Blank Local Database</a></li>

      </ul>

       <a name="#c15" id="#c15"></a>
      <h3>Transcript Requests</h3>

      <ul>
      	<li class="doc"><a title="MS Word, opens in a new window" href="../../documents/lean/civil-family/receipt-of-transcript-jobcard.doc">Receipt of transcript requests - Job Card</a></li>
      </ul>


<p class="back-to-top clearfix"><a href="#top">back to top</a></p>


    </div>

</div>








    </div>


  </div>




</main>

<!-- Not sure what's happening here -->

{% endblock %}
