{% extends "layout-hmcts-a.html" %}
{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main" class="home-page">

  <div class="grid-row">
    <ul class="breadcrumbs-list">
      <li class="breadcrumb-item "><a href="/hmcts-a/" class="breadcrumb-link">Home</a>
              <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/guidance1" class="breadcrumb-link">Guidance and forms</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current"><a href="/hmcts-a/hr" class="breadcrumb-link">HR</a>
        <span class="separator"></span>
      </li>
      <li class="breadcrumb-item current">Performance Management Information Hub

      </li>
    </ul>


    <div class="column-third">

      <div class="left-hand-navigation">

            <ul>
              <li class="main-section"><a href="/hmcts-a/guidance1">Guidance &amp; forms</a></li>
              <li class="parent-section"><a href="/hmcts-a/hr/">HR</a></li>


              <li class="child-folder agency-page">
                <a href="/hmcts-a/hr/performance-management">Performance Management Information Hub</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-a/hr/performance-management/changes">Changes to the Performance Management System</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-a/hr/performance-management/complete">How to complete your PMR</a>
              </li>
              <li class="current-page child-level-2 agency-page">
                <a href="/hmcts-a/hr/performance-management/standard">Standard Setting and Assessing Performance</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-a/hr/performance-management/training">Training and tools</a>
              </li>
              <li class="child-level-2 agency-page">
                <a href="/hmcts-a/hr/performance-management/bulletin">Performance Management Monthly Bulletins</a>
              </li>



            </ul>
      </div>

    </div>


    <div class="column-two-thirds content">


      <h1 class="page-title">Standard Setting and Assessing Performance - what does ‘Good’, ‘Must Improve’ and ‘Outstanding’ look like for HMCTS?</h1>

      <div class="page-metadata">
        <ul>
          <li>Content owner: <a href="mailto:hr@exmaple.com">HMCTS HR</a></li>
          <li>Last updated: 27 March 2016</li>
        </ul>

      </div>



      <!--<div class="imageBox"><img src="../../../images/hr/two-people-looking-at-laptop.gif" alt="Image from the event" width="300" height="200" /> </div>-->


     <p>As we continue through the performance year, it is important that we are robust and consistent when assessing performance to encourage a high performance culture in HMCTS.</p>

     <p>The ‘Quick Reference Guide’ on the <a href="index.htm">PM Hub Homepage</a> signposts the Civil Service ‘Performance Wave’ and ‘Performance Expectations’ which provide broad definitions for the ‘Good’, ‘Outstanding’ and ‘Development Needed’ ratings.</p>
     <p>In partnership with the HR Business Partner Community, a staff working group has developed a series of case studies to further contextualise those definitions, and clarify the position in cases where the policy seems open or ambiguous.</p>
     <p>The case studies can be found under the ‘Related documents’ alongside a copy of the ‘Quick Reference Guide’ and guidance on ‘Performance Assessment Expectations’.
 </p>

    <!--<p>For more information or to find out how you could get involved email: <a href="mailto:HMCTS_HR_Performan@hmcts.gsi.gov.uk">HMCTS_HR_Performan@hmcts.gsi.gov.uk</a> </p>-->






   <!--<p>For more information or to find out how you could get involved email: <a href="mailto:HMCTS_HR_Performan@hmcts.gsi.gov.uk">HMCTS_HR_Performan@hmcts.gsi.gov.uk</a> </p>-->


















    </div>


  </div>




</main>

{% endblock %}
